@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to top, #3E374B, #784ec5 40%);
    background-attachment: fixed;
}
main {
    background-color: white;
    width: 600px;
    padding: 10px; /*DÃ UM RESPIRO AO TEXTO*/
    margin: auto; /*CENTRALIZA O QUE PEDIR, ESSA TAG ESPECIAL NO CASO*/
    border-radius: 20px; /*ARREDONDA*/
    box-shadow: 5px 5px 15px #1f1b25; /*TRABALHAMOS MOVENDO COM CURSOR PARA BAIXO, MONOCROMIA*/
}
a {
    color: rgb(84, 87, 40);
    text-decoration: none; /* Talvez eu mude se o Guanabara pedir :) */
}
h1 {
    color: #F5E810; /*ESTAMOS TRABALHANDO COM PALETAS AQUI >:(*/ 
    text-shadow: 1px 1px 1px #726d0e62;
    text-align: center;
}
h2 {
    color: #6211F5;
}
p {
    text-align: justify;
}
/* propriedade margin n funciona aqui no AUDIO */
