@charset "UTF - 8";

/*
    #027373 #038C7F #A9D9D0 #F2E7DC #0D0D0D - Paleta de cores
    Verdes, branco e preto
*/

main {
    background-color: white;
    width: 700px;
    padding: 20px;
    margin: auto;
    box-shadow: -5px 5px 8px #038C7F;/*n tem virgula*/
    border-radius: 30px;
}
body {
    background-image: linear-gradient(to top, #A9D9D0, #F2E7DC);
    background-attachment: fixed;/*arruma gradiente*/
}
p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-family: serif;/*Isso aqui tem em todo computador*/
    color: #0D0D0D;
}
mark {
    background-color: #027373;
}
a {
    text-decoration: none;
    color: #027373;
}